[Desktop Entry]
Name=start-stream
Comment=start streaming services
Exec=/usr/share/applications/StreamSystem/start.sh
Icon=/usr/share/applications/StreamSystem/Start.png
Terminal=true
Type=Application
Categories=Audio;Video;Network;
